<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <rewrite>
      <rules>
        <!-- ACME exception -->
        <rule name="Let’s Encrypt ACME" stopProcessing="true">
          <match url="^\.well-known/acme-challenge/.*$" />
          <action type="None" />
        </rule>

        <!-- HTTP -> HTTPS -->
        <rule name="Redirect to HTTPS" enabled="true" stopProcessing="true">
          <match url="(.*)" ignoreCase="true" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{HTTP_X_FORWARDED_PROTO}" pattern="http" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>

        <!-- If browser ever sends a preflight to /rpc, answer 200 locally -->
        <rule name="RPC_OPTIONS_200" stopProcessing="true">
          <match url="^rpc/?$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^OPTIONS$" />
          </conditions>
          <action type="CustomResponse" statusCode="200" subStatusCode="0" statusReason="OK" statusDescription="OK" />
        </rule>

        <!-- Reverse-proxy JSON-RPC to Cronos -->
        <rule name="ReverseProxy_RPC" stopProcessing="true">
          <match url="^rpc/?$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" />
          </conditions>
          <action type="Rewrite" url="https://evm.cronos.org/" />
        </rule>
      </rules>
    </rewrite>

    <staticContent>
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
    </staticContent>

    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" />
      <remove statusCode="500" />
      <remove statusCode="502" />
      <remove statusCode="503" />
      <error statusCode="404" path="/errors/404.html" responseMode="File" />
      <error statusCode="500" path="/errors/500.html" responseMode="File" />
      <error statusCode="502" path="/errors/502.html" responseMode="File" />
      <error statusCode="503" path="/errors/503.html" responseMode="File" />
    </httpErrors>

    <httpProtocol>
      <customHeaders>
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />
      </customHeaders>
    </httpProtocol>
        <defaultDocument>
            <files>
                <remove value="index.html" />
                <remove value="iisstart.htm" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
                <add value="home.html" />
            </files>
        </defaultDocument>

  </system.webServer>
</configuration>
